body{
    background-color: #404040;
}

.navbar {
  background-color: #111;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: var(--primary-color);
}

.main{
    width: 95%;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
}

input{
    background-color: #ffffff;
    color: #000000;
}

button{
    width: 150px;
    height: 30px;
}

.error{
    color: #ff0000;
    font-weight: bolder;
    font-size: 35px;
    text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#reset{
  width: 150px;
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  margin: 0 auto;
}
